body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.top-bar {

}

.bar-title {
    color: black !important;
    text-decoration: none;
    font-size: 18px;
}

.container {
    margin-left: 150px !important;
    margin-right: 150px !important;
}
